<script lang="ts">
    import "../app.pcss";
    import { AppShell } from '@skeletonlabs/skeleton';
    import { AppBar } from '@skeletonlabs/skeleton';
    import { AppRail, AppRailTile, AppRailAnchor } from '@skeletonlabs/skeleton';

    import type { AfterNavigate } from '@sveltejs/kit';
    import { afterNavigate } from '$app/navigation';

    afterNavigate((params: AfterNavigate) => {
        const isNewPage = params.from?.url.pathname !== params.to?.url.pathname;
        const elemPage = document.querySelector('#page');
        if (isNewPage && elemPage !== null) {
            elemPage.scrollTop = 0;
        }
    });

    let currentTile: number = 0;
</script>

<AppShell>
    <svelte:fragment slot="header">
        <AppBar gridColumns="grid-cols-3" slotDefault="place-self-center" slotTrail="place-content-end">
            <svelte:fragment slot="lead">(icon)</svelte:fragment>
            <h1>Revelare</h1>
            <svelte:fragment slot="trail">Uncovering hidden truths</svelte:fragment>
        </AppBar>

    </svelte:fragment>

    <svelte:fragment slot="sidebarLeft">
        <AppRail background="bg-tertiary-400">
            <AppRailTile bind:group={currentTile} name="your-account" value={0} title="Your Account">
                <svelte:fragment slot="lead">(icon)</svelte:fragment>
                <span>Your Account</span>
            </AppRailTile>

            <AppRailTile bind:group={currentTile} name="tile-2" value={1} title="tile-2">
                <svelte:fragment slot="lead">(icon)</svelte:fragment>
                <span>What we offer</span>
            </AppRailTile>

            <AppRailTile bind:group={currentTile} name="tile-3" value={2} title="tile-3">
                <svelte:fragment slot="lead">(icon)</svelte:fragment>
                <span>About us</span>
            </AppRailTile>

            <svelte:fragment slot="trail">
                <AppRailAnchor href="/" target="_blank" title="Account">(icon)</AppRailAnchor>
            </svelte:fragment>
        </AppRail>
    </svelte:fragment>
    <slot />
</AppShell>

