<script lang="ts">
    import { Summarize, Search, Delete, Retrieve, Retrieve_all } from '$lib/api';
    import type { Summary } from '$lib/api'
    import Datatable from '$lib/components/Datatable.svelte';

    let url: string;
    let content: string;
    let title: string;


</script>

<div class="container mx-auto p-8 space-y-8 max-w-xl">
    <h1 class="h1 flex justify-center">Summarization</h1>
    <p>Submit your URL and/or text for summarization.</p>
    <section class="space-y-2">
        <input class="input" title="URL" type="text" placeholder="URL" bind:value={url}/>
        <input class="input" title="Title" type="text" placeholder="Title" bind:value={title}/>
        <input class="input" title="Content" type="text" placeholder="Content" bind:value={content}/>
    </section>
    <button type="button" on:click={() => Summarize(title=title, url=url, content=content)} class="btn variant-filled-primary flex justify-center">Summarize</button>
</div>

<div class="container mx-auto p-8 space-y-8">
    <h1 class="h1">Summaries</h1>
    <Datatable />
</div>

