<script lang="ts">

    import { Retrieve_all } from '$lib/api';
    import type { Summary } from '$lib/api'

    let myData2: Summary[] = []

    const updateData = async () => {
        myData2 = await Retrieve_all();
    }

    import ThSort from '$lib/components/ThSort.svelte';
    import ThFilter from '$lib/components/ThFilter.svelte';
    import Search from '$lib/components/Search.svelte';
    import RowsPerPage from '$lib/components/RowsPerPage.svelte';
    import RowCount from '$lib/components/RowCount.svelte';
    import Pagination from '$lib/components/Pagination.svelte';

    import { DataHandler } from '@vincjo/datatables'

    const handler = new DataHandler(myData2, { rowsPerPage: 10 })
    $: myData2, handler.setRows(myData2)
    const rows = handler.getRows()

    const getTags = (summaries: Summary[]) => {
        let uniqueTags = [...new Set(summaries.map(a => a.tags).flat(1))];
        let tagsIndex: Record<string, boolean> = {}
        if (uniqueTags.length > 0) {
            for (var tag of uniqueTags) {
                tagsIndex[tag] = true
            }
        }
        console.log(tagsIndex);
        return tagsIndex;
    }

    const getOnlyTags = (tags:Record<string, boolean>) => {
        return Object.keys(tags)
    }

    const getTrueTags = (tags:Record<string, boolean>) => {
        let trueTags: string[] = [];
        for (var tag of Object.keys(tags)) {
            if (tags[tag] === true) {
                trueTags.push(tag);
            }
        }
        return trueTags;
    }

    $: tags = getOnlyTags(getTags(myData2));

    $: tagsList = getOnlyTags(getTags(myData2));

    $: trueTags = getTrueTags(getTags(myData2));

</script>

{#await updateData()}
    <p>Loading data...</p>
{:then data}
<div class="space-x-1">
    {#each tagsList as tag}
        <button
                class="chip {tags[tag] ? 'variant-soft' : 'variant-filled-secondary'}"
                on:click={() => {
                    tags[tag] = !tags[tag];
                    handler.filter(tag, "tags")
                }}
                on:keypress
        >
            <span class="capitalize">{tag}</span>
        </button>
    {/each}
</div>

<div class="table-container space-y-4">
    <header class="flex justify-between gap-4">
        <Search {handler} />
        <RowsPerPage {handler} />
        <button type="button" class="btn variant-filled-tertiary flex justify-center" on:click={updateData}>Refresh</button>
    </header>
    <table class="table table-hover table-compact table-auto w-full">
        <thead>
        <tr>
            <ThSort {handler} orderBy="url">URL</ThSort>
            <ThSort {handler} orderBy="title">Title</ThSort>
            <ThSort {handler} orderBy="summary">Summary</ThSort>
            <ThSort {handler} orderBy="tags">Tags</ThSort>
        </tr>
        <tr>
            <ThFilter {handler} filterBy="url" />
            <ThFilter {handler} filterBy="title" />
            <ThFilter {handler} filterBy="summary"/>
            <ThFilter {handler} filterBy="tags"></ThFilter>
        </tr>
        </thead>
        <tbody>
        {#each $rows as row}
            <tr>
                <td>{row.url}</td>
                <td>{row.title}</td>
                <td>{row.summary}</td>
                <td>{row.tags.join(', ')}</td>
            </tr>
        {/each}
        </tbody>
    </table>
    <footer class="flex justify-between">
        <RowCount {handler} />
        <Pagination {handler} />
    </footer>
</div>

{/await}